In [1]:
def even_or_odd(number):
    """This function finds even or odd"""
    if number%2 == 0:
        print("the number is even")
    else:
        print("the number is odd")


## Call the function

even_or_odd(24)

the number is even

In [1]:
def multiply(a, b):
    return a * b

result = multiply(2, 5)
print(result)

10

In [ ]:

def greet(name):
    print(f"Hello {name}. Welcome to the cube")
    
greet("Tron")

Hello Tron. Welcome to the cube

In [3]:
## Default parameters

def greet(name = "Guest"):
    print(f"Hello {name}. Welcome to the cube")
    
greet()
greet("Tron")

Hello Guest. Welcome to the cube
Hello Tron. Welcome to the cube

In [4]:
def print_numbers(*args):
    for num in args:
        print(num)

print_numbers(1,2,3,4,5,"Jane")

1
2
3
4
5
Jane

In [5]:
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
        

print_details(name="Nook", age="25", country="UK")

name: Nook
age: 25
country: UK

In [6]:
def print_details(*args,**kwargs):
    
    for val in args:
        print(f"Positional argument: {val}")
    
    for key, value in kwargs.items():
        print(f"{key}: {value}")
        

## print_details(1,2,3,name="Nook", age="25", country="UK", 4,5,"Jane") >> this will result in an error saying positional argument cannot appear after keyword arguments
print_details(1,2,3,4,5,"Jane", name="Nook", age="25", country="UK")

Positional argument: 1
Positional argument: 2
Positional argument: 3
Positional argument: 4
Positional argument: 5
Positional argument: Jane
name: Nook
age: 25
country: UK

## Lambda

In [7]:
# Regular function
def add(a, b):
    return a + b

# Equivalent lambda
add_lambda = lambda a, b: a + b

print(add(2, 3))          # 5
print(add_lambda(2, 3))   # 5

5
5

In [8]:
# Regular function
def add_three(x, y, z):
    return x + y + z

# Equivalent lambda
add_three_lambda = lambda x, y, z: x + y + z

print(add_three(12, 13, 14))        # 39
print(add_three_lambda(12, 13, 14)) # 39

39
39

In [9]:
numbers = [1, 2, 3, 4, 5, 6]

# Square all numbers using map+lambda
squared = list(map(lambda x: x**2, numbers))
print(squared)  # [1, 4, 9, 16, 25, 36]

[1, 4, 9, 16, 25, 36]

## Maps

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

# Using a named function
def square(x):
    return x * x

squared = list(map(square, numbers))
print(squared)
# [1, 4, 9, 16, 25, 36, 49, 64]

# Using lambda function
squared_lambda = list(map(lambda x: x*x, numbers))
print(squared_lambda)

[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64]

In [13]:
### Map multiple iterables

numeber1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y: x+y, numeber1, numbers2))
print(added_numbers)

[5, 7, 9]

In [ ]:
## use map() for type conversions

string_numbers = ["1", "2", "3", "4"]

# Convert strings to integers
int_numbers = list(map(int, string_numbers))
print(int_numbers)
# [1, 2, 3, 4]

# covert words to all CAPS
words = ["apple","banana","cherry"]
upper_words = list(map(str.upper, words))
print(upper_words)

[1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY']

In [18]:
people = [
    {"name": "Krish", "age": 32},
    {"name": "Jack", "age": 33}
]

def get_name(person):
    return person["name"]

names = list(map(get_name, people))
# ["Krish", "Jack"]
print(names)

['Krish', 'Jack']

## Filter()

In [ ]:
## filter()

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Using named function
def is_even(num):
    return num % 2 == 0

evens = list(filter(is_even, numbers)) # filter only returns the elements that result in 'True' from the function used
# [2, 4, 6, 8, 10, 12]
print(evens)

[2, 4, 6, 8, 10, 12]

In [20]:
## filter with lambda function

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

greater_than_five = list(filter(lambda x: x>5, numbers))
print(greater_than_five)

[6, 7, 8, 9, 10, 11, 12]

In [ ]:
## filter function with a lambda and multiple conditions using logical 'and'

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

even_and_greater_than_five = list(filter(lambda x:x>5 and x%2==0, numbers)) ## you cannot combine a lambda and a def function in a filter?
print(even_and_greater_than_five)

[6, 8, 10, 12]

In [28]:
## filter() to check if the age is greater than 25 in dictionaries

people=[
    {'name': 'Tom', 'age': 32},
    {'name': 'Jack', 'age': 12}
]

def age_greater_than_25(person):
    return person['age']>25

people_older_than_25 = list(filter (age_greater_than_25, people))
print(people_older_than_25)

[{'name': 'Tom', 'age': 32}]